@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Delius&family=Poetsen+One&display=swap");

/* ======================== CSS Rule #1 */
html {
  background-color: rgb(125, 126, 124);
  padding-left: 20px;
}

/* ======================== CSS Rule #2 */
.caveat-brush-regular {
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-style: normal;
}


h1 {
  font-family: "Caveat Brush", cursive;
  font-size: 45px;
}

h4{
  font-size:25px;
  font-family: "Caveat Brush", cursive;
}

img{
  width:150px;
  border:5px, solid;
}

body{
  text-align:center;
}

p{
  font-size:16px;
  font-family:Georgia, 'Times New Roman', Times, serif
}

#color1{
  padding:2px;
  background-color:rgb(105, 223, 193);
}
#color2{
  background-color:rgb(231, 216, 146);
  padding:2px;
}
#color3{
  background-color:rgb(201, 99, 16);
  padding:2px;
}

#color4 {
  background-color:rgb(125, 191, 212);
  padding:2px;
}

#mem1-button{
 background-color: rgb(105, 223, 193);
}

#mem2-button{
  background-color:rgb(231, 216, 146);
}

#mem3-button{
  background-color:rgb(201, 99, 16);
}

#mem4-button{
  background-color:rgb(125, 191, 212);
  margin:10px;
}

#c1, #c2, #c3, #c4{
  font-size : 12px;
}